@keyframes activeDialog {
    0%  {transform: translateX(0px); transform: translateY(0px);} 
    70%  {transform: translateX(0px); transform: translateY(0px);} 
    75%  {transform: translateX(-10px); transform: translateY(-10px);}
    80%  {transform: translateX(0px); transform: translateY(0px);}
    85%  {transform: translateX(-10px); transform: translateY(-10px);}
    90%  {transform: translateX(0px); transform: translateY(0px);}
    100%  {transform: translateX(0px); transform: translateY(0px);}
}


