.btn{
    position:relative;
    border:1px solid $darkblue;
    font-size: 1.4rem;
    font-weight:600;
    border:3px solid white;
    background: transparent;
    color:black;
    border-radius: 50px;
    font-family: $font;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding:0 3rem;
    line-height: 5rem;
    opacity: 1;
    min-width: 450px;
    min-height: 100px;
    @include transition(0.5s);
    span{
        @include transition(0.5s);      
    }
}
.btn:focus{
    outline: transparent;
}
.btn:disabled{
    outline: transparent;
    padding:0rem;
    min-width: 100px;
    background: white;
    opacity: 0;
    span{
        display: none;
        visibility: hidden;
        animation: visibleSpanBtn;
        animation-duration: 0.3s;
    }
}

