#charStats{
    width: 85%;
    position: absolute;
    bottom:2vh;
    min-height: 20vh;
    margin:0 7%;


    .charStats-char1{
        background-image: url('../img/char-placeholder.png');
        width: 30%;
        height:100%;
        background-size: cover;
        position: absolute;
        margin-right:1vh;
    }
    .charStats-stats{
        position: absolute;
        height: auto;
        right: 0;
        width: 60%;
        display: flex;
        flex-direction: column;
        padding-bottom: 2vh;
        border-bottom: 8px solid $maingrey;
        .charStats-stats-icons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            #charStats-heart-base{
                width: 9vh;
                height: 8vh;
                border-radius: 50%;
                display: flex;
                align-items: center;
                margin:0 1vh;
                position: relative;
                img{
                    width: 50%;
                    margin:0 auto;
                } 
                .charStats-heart-point-1,.charStats-heart-point-2,.charStats-heart-point-3,.charStats-heart-point-4,.charStats-hungry-point-1,.charStats-hungry-point-2,.charStats-hungry-point-3,.charStats-hungry-point-4,.charStats-mood-point-1,.charStats-mood-point-2,.charStats-mood-point-3,.charStats-mood-point-4{
                    position: absolute;
                    width: 48%;
                    height:48%;
                    img{
                        width: 100%;
                    } 
                }
                .charStats-heart-point-1,.charStats-hungry-point-1,.charStats-mood-point-1{
                    left:0;
                    top:0;
                }
                .charStats-heart-point-2,.charStats-hungry-point-2,.charStats-mood-point-2{
                    right:0;
                    top:0;
                }  
                .charStats-heart-point-3,.charStats-hungry-point-3,.charStats-mood-point-3{
                    left:0;
                    bottom:0;
                }  
                .charStats-heart-point-4,.charStats-hungry-point-4,.charStats-mood-point-4{
                    right:0;
                    bottom:0;
                }                  
            }
            #charStats-hungry-base,#charStats-mood-base{
                width: 9vh;
                height: 8vh;
                border-radius: 50%;
                display: flex;
                align-items: center;
                margin:0 1vh;
                position: relative;
                img{
                    width: 60%;
                    margin:0 auto;
                }
                .charStats-heart-point-1,.charStats-heart-point-2,.charStats-heart-point-3,.charStats-heart-point-4,.charStats-hungry-point-1,.charStats-hungry-point-2,.charStats-hungry-point-3,.charStats-hungry-point-4,.charStats-mood-point-1,.charStats-mood-point-2,.charStats-mood-point-3,.charStats-mood-point-4{
                    position: absolute;
                    width: 48%;
                    height:48%;
                    img{
                        width: 100%;
                    } 
                }
                .charStats-heart-point-1,.charStats-hungry-point-1,.charStats-mood-point-1{
                    left:0;
                    top:0;
                }
                .charStats-heart-point-2,.charStats-hungry-point-2,.charStats-mood-point-2{
                    right:0;
                    top:0;
                }  
                .charStats-heart-point-3,.charStats-hungry-point-3,.charStats-mood-point-3{
                    left:0;
                    bottom:0;
                }  
                .charStats-heart-point-4,.charStats-hungry-point-4,.charStats-mood-point-4{
                    right:0;
                    bottom:0;
                }  
            }
        }
    }
    
}