#introlivello{
    position: absolute;
    width:70%;
    left:15%;
    color: $maingrey;
    top:20%;
    h1{
        text-align: center;
    }
    #intro-parag{
        font-size: 1.6rem;
        text-align: center;
        margin:6vh 0;
        line-height: 2.3rem;
        @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            font-size: 1.5rem;
            margin:6vh 0;
        }
    }
}
#intro-statistic{
 position: absolute;
 width:70%;
 left:15%;
 bottom:20%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
    #intro-heart,#intro-food,#intro-mood{
        width:10vh;
        height:10vh;
        position: relative;
        #intro-icon{
            width: 50%;
            position: absolute;
            left:15%;
        }
        #intro-heart_line1,#intro-food_line1,#intro-mood_line1{
            position: absolute;
            left:0;
            top:0;
            width:48%;
            height:48%;
            img{width:100%;}
        }
        #intro-heart_line2,#intro-food_line2,#intro-mood_line2{
            position: absolute;
            right:0;
            top:0;
            width:48%;
            height:48%;
            img{width:100%;}
        }
        #intro-heart_line3,#intro-food_line3,#intro-mood_line3{
            position: absolute;
            left:0;
            bottom:0;
            width:48%;
            height:48%;
            img{width:100%;}
        }
        #intro-heart_line4,#intro-food_line4,#intro-mood_line4{
            position: absolute;
            right:0;
            bottom:0;
            width:48%;
            height:48%;
            img{width:100%;}
        }
    }
}


#videobkg{
    position: absolute;
    top:0;
    width: 150%;
    z-index: -1;
    left:-25%;
}