/* MODALE GENERICO */
#modal{
    position: absolute;
    display: none;
    z-index:40;
    top:0;
    left:0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    width:100%;
    height:100%;
    .modal-inner{
        width:90%;
        min-height:25%;
        top:23%;
        left:5%;
        display: inline-block;
        background: url('../img/ep_naturalblack.png');
        background-repeat: repeat;
        position: relative;
        @include transition(0.3s);
        -webkit-box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 1px 30px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 1px 30px 0px rgba(50, 50, 50, 0.75);
        h1{
            @include transition(0.3s);
            text-align: center;
            text-align: center;
            font-weight: 200;
            font-size: 2.5rem;
            letter-spacing: 0rem;
            position: relative;
            margin-bottom: 0rem;
            padding-bottom: 1.5rem;
            opacity:0;
            color: $lightgrey;
        }
        .modal-inner-content{
            opacity: 0;
            display: flex;
            flex-direction: column;
            width:60%;
            margin:5% 20%;
            .btn{
                margin-bottom: 2.5rem;
            }
        }
    }
}
.modal--active{
    display: block !important;
}
.modal-inner--active{
    top:20% !important;
    h1{
        opacity:1 !important;
        letter-spacing: 0.15rem !important;
    }
    .modal-inner-content{
        opacity:1 !important;
    }
}

/* MODALE SCELTA PERSONAGGIO */
#modal-yourchioiche{
    width:100%;
    height:80%;
    position: absolute;
    bottom:0;
    left:0;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0,#000 63%);
    z-index: 40;
    transform:translate(0%, 100%);
    display: flex;
    justify-content: center;
    @include transition(0.3s);
    .modal-yourchioiche-inner{
        position: absolute;
        bottom:15%;
        display: flex;
        flex-direction: column;
        h1{
            color:$lightgrey;
            text-align: center;
            font-size: 4rem;
            margin-bottom: 5rem;
        }
        .modal-yourchioiche-buttons{
            display: flex;
            flex-direction: column;
            .btn{
                margin-bottom: 2rem;
            }
        }
    }
}

.modal-yourchioiche--active{
    transform:translate(0%, 0%) !important;
}

/* MODALE OGGETTI STANZA */
#modal-floorObjects{
    position: absolute;
    left:10%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    z-index: 40;
    width:80%;
    height:58%;
    background: url('../img/cardboard.jpg');
    background-size: cover;
    transform:translate(0%, 150%);
    overflow: hidden;
    color:$lightgrey;
    @include transition(0.3s);
    .modal-floorObjects-inner{
        width:90%;
        h1{
            color:$lightgrey;
            text-align: center;
            font-size: 4rem;
            margin-bottom: 5rem;
        }
        #modal-floorObjects-inner-objects{
            margin:0px 5%;
            h2{
                font-size:2.5rem;
                width:100%;
                margin-top:0rem;
                padding-bottom: 1.5rem;
                text-align: center;
                border-bottom: 1px solid $lightgrey;
            }
            .floorObjects-inner-object{
                display: inline-block;
                width:100%;
                margin-bottom: 2rem;
                border: 1px solid $lightgrey;
                padding: 1rem;

                .floorObjects-inner-object-left{
                    width:50%;
                    float:left;
                    font-size:1.5rem;
                }
                .floorObjects-inner-object-right{
                    width:50%;
                    float:left;
                    display: flex;
                    justify-content: center;
                    .object-type-food{
                        width:80px;
                        height:80px;
                        background: url('../img/fame.svg');
                        background-size: 100%;
                    }
                    .object-type-health{
                        width:80px;
                        height:80px;
                        background: url('../img/salute.svg');
                        background-size: 100%;
                    }
                    .object-type-weapon{
                        width:80px;
                        height:80px;
                        background: url('../img/arma.svg');
                        background-size: 100%;
                    }
                    .object-type-mood{
                        width:80px;
                        height:80px;
                        background: url('../img/umore.svg');
                        background-size: 100%;
                    }
                    .floorObjects-inner-object-stats{
                        position: absolute;
                        font-size: 1.8rem;
                        background: #000;
                        padding: .5em;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        margin-right: -109px;
                        margin-top: -10px;
                    }
                }
            }
            .btn{
                margin: 2rem 0rem 1rem;
                margin-left: 15%;                   
            }
        }    
    }
}
.modal-floorObjects--active{
    transform:translate(0%, 0%) !important;
}

/* MODALE SCAMBIO */
#modal-exchange{
    position: absolute;
    left:0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    z-index: 40;
    width:100%;
    min-height:35%;
    background: url('../img/ep_naturalblack.png');
    background-repeat: repeat;
    transform:translate(0%, 150%);
    overflow: hidden;
    color:$lightgrey;
    @include transition(0.3s);
    .modal-exchange-inner{
        width:80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
            font-size:3.5rem;
            width:100%;
            margin-top:2.5rem;
            padding-bottom: 1.5rem;
            text-align: center;
        }
        .btn{
           margin-bottom: 1.5rem; 
        }
    }
}
.modal-exchange--active{
    transform:translate(0%, 0%) !important;
}