#objSelector{
    background: url('../img/objselector.svg');
    width: 90%;
    height: 51vh;
    margin:20vh 5%;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.3s;
    color:$maingrey;
    position: relative;
    h2{
        color:$orange;
        font-size:2.0vh;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        width:100%;
        margin:5vh 0 2vh;
    }
    #objSelector-container{
        width:65%;
        height:35vh;
        margin:0 auto;
        overflow-y: scroll;
        .objSelector-object{
            transition:all 0.3s;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .objSelector-object-image{
                width:40%;
                position: relative;
                img{
                    width:100%;
                }
            }
            .objSelector-object-image--mood{
                width: 60px;
                height: 60px;
                background: url('../img/mood-statistic.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                right:-30px;
                top:-30px;
            }
            .objSelector-object-image--hungry{
                width: 60px;
                height: 60px;
                background: url('../img/hungry-statistic.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                right:-30px;
                top:-30px;
            }
            .objSelector-object-image--heart{
                width: 60px;
                height: 60px;
                background: url('../img/heart-statistic.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                right:-30px;
                top:-30px;
            }
            .objSelector-object-description{
                h3{
                    font-size:1.8vh;
                    margin-top:0;
                    color:$orange;
                    text-transform: uppercase;
                }
                font-size: 1.6vh;
                width: 50%;
            }
            padding: 3vh 0;
            border-bottom: 4px solid $maingrey;
        }
        .objSelector-object:active{
            transition:all 0.3s;
            opacity: 0.6;
            padding:3vh 1vh;
        }
    }
    #objSelector-gradient{
        position: absolute;
        bottom:2vh;
        width:90%;
        left:5%;
        height: 5vh;
        z-index: 5;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8883928571428571) 100%);
    }
    #objSelector-close{
        width: 9vh;
        height: 8vh;
        position: absolute;
        left:50%;
        margin-left:-4vh;
        background: transparent;
        border:0px;
    }
    #objSelector-close:active{
        transform: translateY(4px);   
    }
}