@import "_colors";
@import "_fonts";
@import "_animations";
@import "_buttons";
@import "_box-dialog";
@import "_enemy-stats";
@import "_char-stats";
@import "_objSelector";
@import "_objSelected";
@import "_altered-stats";
@import "_complete-container";

html,body{
    width:100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: bahnschrift;
    color:$maingrey;
    font-size: 1.3vh;
    background-image:url('https://i.pinimg.com/564x/9f/f0/b4/9ff0b44e38fb04bb1070b49bc4bb3762.jpg');
    //background-image:url('https://cdnb.artstation.com/p/assets/images/images/027/409/621/large/hong-tam-dang-asset.jpg?1591455902');
    background-size: cover;
    background-position: center;
}


