@import "_colors";
@import "_fonts";
@import "_animations";
@import "_buttons";
@import "_modals";
@import "_damages";

html,body{
    width:100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: black;
    font-family: bahnschrift;
    color:$maingrey;
    font-size: 1.3vh;
}


